@charset "UTF-8";
// ============================================================================
// HOW TO USE THIS FILE:
// This file imports all Groundwork's feature
// You can cherry pick which one you want
// You may also edit _settings.scss to customize groundwork
// Your app style should go in the _app.scss file
// ============================================================================

// Custom settings
$bower_path: "bower_components/groundwork/";
@import "settings"; // customizable settings

// =============================================
//                  File Paths
// =============================================

// file paths
$root_path:      "../";                                       // path to HTML document root (relative from CSS)
$images_path:    $bower_path + "images/";                     // path to images (relative from $root_path)
$fonts_path:     $bower_path + "fonts/";                      // path to fonts (relative from $root_path)
$boxsizing_path: "/" + $bower_path + "js/libs/boxsizing.htc"; // path to box sizing polyfill (change to absolute path from HTML document root)
$PIE_path:       "/" + $bower_path + "js/libs/PIE.htc";       // path to IE CSS3 polyfill (change to absolute path from HTML document root)

// =============================================
//                Core - REQUIRED
// =============================================
@import "groundwork/src/scss/core/all-core";
// @import "compass";
// @import "groundwork/src/scss/core/constants";
// @import "groundwork/src/scss/core/breakpoints";
// @import "groundwork/src/scss/core/defaults";
// @import "groundwork/src/scss/core/palette";
// @import "groundwork/src/scss/core/mixins-core";

// =============================================
//                 Base - REQUIRED
// =============================================
@import "groundwork/src/scss/base/all-base";
// @import "groundwork/src/scss/base/reset";
// @import "groundwork/src/scss/base/global";
// @import "groundwork/src/scss/base/helpers";
// @import "groundwork/src/scss/base/grid";
// @import "groundwork/src/scss/base/flex-box";

// =============================================
//                Components
// =============================================

// * Icons
@import "groundwork/src/scss/icons/all-icons";
// @import "groundwork/src/scss/icons/font-awesome";

// * Type
@import "groundwork/src/scss/type/all-type";
// @import "groundwork/src/scss/type/link-type-icons";
// @import "groundwork/src/scss/type/typography";
// @import "groundwork/src/scss/type/webfonts";

// * UI elements
@import "groundwork/src/scss/ui/all-ui";
// @import "groundwork/src/scss/ui/boxes";
// @import "groundwork/src/scss/ui/buttons";
// @import "groundwork/src/scss/ui/forms";
// @import "groundwork/src/scss/ui/messages";
// @import "groundwork/src/scss/ui/nav";
// @import "groundwork/src/scss/ui/tables";
// @import "groundwork/src/scss/ui/tabs";

// * Animations
@import "groundwork/src/scss/anim/all-animations";
// $dismiss-animation: "fadeOut" !default; // Overriden in _settings.scss if needed
// body {
//   -webkit-backface-visibility: hidden; /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
// }
// .animated {
//   animation-duration: 1s;
//   animation-fill-mode: both;
// }
// .dismiss {
//   @extend .#{$dismiss-animation};
// }
// @import "groundwork/src/scss/anim/bounce";
// @import "groundwork/src/scss/anim/fade";
// @import "groundwork/src/scss/anim/flash";
// @import "groundwork/src/scss/anim/flip";
// @import "groundwork/src/scss/anim/hinge";
// @import "groundwork/src/scss/anim/lightspeed";
// @import "groundwork/src/scss/anim/pulse";
// @import "groundwork/src/scss/anim/roll";
// @import "groundwork/src/scss/anim/rotate";
// @import "groundwork/src/scss/anim/shake";
// @import "groundwork/src/scss/anim/spin";
// @import "groundwork/src/scss/anim/swing";
// @import "groundwork/src/scss/anim/tada";
// @import "groundwork/src/scss/anim/wiggle";
// @import "groundwork/src/scss/anim/wobble";

// =============================================
//           Responsive adjustments
// =============================================
@import "groundwork/src/scss/responsive/all-responsive";
// $responsive: true !default; // Overriden in _settings.scss if needed
// @import "groundwork/src/scss/responsive/helpers-responsive";
// @import "groundwork/src/scss/responsive/desktop";
// @import "groundwork/src/scss/responsive/ipad";
// @import "groundwork/src/scss/responsive/small-tablet";
// @import "groundwork/src/scss/responsive/mobile";

// Your App style
@import "app";
