@charset "UTF-8";
// ============================================================================
// HOW TO USE THIS FILE:
// This file imports all Groundwork's feature
// You can cherry pick which one you want
// You may also edit _settings.scss to customize groundwork
// Your app style should go in the _app.scss file
// ============================================================================

// Custom settings
$bower_path: "bower_components/groundwork/";
@import "settings"; // customizable settings

// =============================================
//                  File Paths
// =============================================

// file paths
$root_path:      "../";                                       // path to HTML document root (relative from CSS)
$images_path:    $bower_path + "images/";                     // path to images (relative from $root_path)
$fonts_path:     $bower_path + "fonts/";                      // path to fonts (relative from $root_path)
$boxsizing_path: "/" + $bower_path + "js/libs/boxsizing.htc"; // path to box sizing polyfill (change to absolute path from HTML document root)
$PIE_path:       "/" + $bower_path + "js/libs/PIE.htc";       // path to IE CSS3 polyfill (change to absolute path from HTML document root)


// ============================================
//       GroundworkCSS by Gary Hepting
//          Last Updated:2013-8-16
// ============================================

//---------- CUSTOM SETTINGS: ----------//
@import "groundwork/src/sass/settings";

// customizable settings

//-------- REQUIRED COMPONENTS: --------//
@import "groundwork/src/sass/core/all-core";

// constants, defaults, mixins, breakpoints, color palette
@import "groundwork/src/sass/base/all-base";

// reset, globals, grid, flexbox, helpers
@import "groundwork/src/sass/icons/all-icons";

// font awesome icons

//-------- OPTIONAL COMPONENTS: --------//

// Typography
@import "groundwork/src/sass/type/all-type";

// individual typography modules
// @import "type/link-type-icons";
// @import "type/typography";
// @import "type/webfonts";

// UI
@import "groundwork/src/sass/ui/all-ui";

// individual UI modules
// @import "ui/boxes";
// @import "ui/buttons";
// @import "ui/forms";
// @import "ui/messages";
// @import "ui/nav";
// @import "ui/tables";
// @import "ui/tabs";

// Animations
@import "groundwork/src/sass/anim/all-animations";

// individual animation modules
// @import "anim/bounce";
// @import "anim/fade";
// @import "anim/flash";
// @import "anim/flip";
// @import "anim/hinge";
// @import "anim/lightspeed";
// @import "anim/pulse";
// @import "anim/roll";
// @import "anim/rotate";
// @import "anim/shake";
// @import "anim/spin";
// @import "anim/swing";
// @import "anim/tada";
// @import "anim/wiggle";
// @import "anim/wobble";
// @import "anim/slide";

// Responsive Components
@import "groundwork/src/sass/responsive/all-responsive";

// individual responsive modules
// @import "responsive/helpers-responsive";
// @import "responsive/desktop";
// @import "responsive/ipad";
// @import "responsive/small-tablet";
// @import "responsive/mobile";



@import "app";
